drop table if exists DML_EXECUTOR_SAMPLE;

create table DML_EXECUTOR_SAMPLE (
	id int primary key,
	name varchar
);

#foreach ($i in [1..10000])
	#set ($text = "text_" + $i)
	insert into DML_EXECUTOR_SAMPLE values ($i, '$text');
#end

drop table DML_EXECUTOR_SAMPLE;